// Variables
$grid-columns: 24;
$font-color-dark: #dfe2e1;
$font-color-light: #333;
$buycolor_dark: #29bb77;
$sellcolor_dark: #e95e5e;
$buycolor_light: #207a46;
$sellcolor_light: #99302b;
$light_body_bg: white;
$dark_body_bg: #091a28;
$light_border_color: #ddd;
$dark_border_color: #383f4b;
$sans: "source-sans", sans-serif;
$demi-sans: "demi-sans", sans-serif;
$mono: "mono", monospace;
$sans-light: "source-sans-light", sans-serif;
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1750px
);

// Bootstrap
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
// @import "~bootstrap/scss/_images.scss";
// @import "~bootstrap/scss/_code.scss";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
// @import "~bootstrap/scss/_transitions.scss";
// @import "~bootstrap/scss/_dropdown.scss";
@import "~bootstrap/scss/button-group";
// @import "~bootstrap/scss/_input-group.scss";
// @import "~bootstrap/scss/_custom-forms.scss";
@import "~bootstrap/scss/nav";
// @import "~bootstrap/scss/_navbar.scss";
// @import "~bootstrap/scss/_card.scss";
// @import "~bootstrap/scss/_breadcrumb.scss";
// @import "~bootstrap/scss/_pagination.scss";
// @import "~bootstrap/scss/_badge.scss";
// @import "~bootstrap/scss/_jumbotron.scss";
// @import "~bootstrap/scss/_alert.scss";
// @import "~bootstrap/scss/_progress.scss";
// @import "~bootstrap/scss/_media.scss";
// @import "~bootstrap/scss/_list-group.scss";
// @import "~bootstrap/scss/_close.scss";
// @import "~bootstrap/scss/_modal.scss";
@import "~bootstrap/scss/tooltip";
// @import "~bootstrap/scss/_popover.scss";
// @import "~bootstrap/scss/_carousel.scss";
@import "~bootstrap/scss/utilities";
// @import "~bootstrap/scss/_print.scss";
@import "~bootstrap/scss/utilities/api";

// Hide number arrows.
// Chrome, Safari, Edge, Opera
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

// Remove red background for firefox on empty number input fields.
input:invalid {
  box-shadow: none;
}

.d-hide {
  display: none !important;
}

.overflow-y-auto {
  overflow-y: auto;
}

.overflow-y-hidden {
  overflow-y: hidden;
}

.overflow-x-hidden,
.stylish-overflow.overflow-x-hidden {
  overflow-x: hidden;
}

@mixin stylish-overflow {
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #7774 #7771;

  /* Works on Chrome/Edge/Safari */
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #7771;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #7774;
    border-radius: 4px;
  }
}

.stylish-overflow {
  @include stylish-overflow;
}

.stylish-overflow.hoveronly:not(:hover) {
  scrollbar-color: transparent transparent;

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 4px;
  }
}

@mixin fill-abs {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.fill-abs {
  @include fill-abs;
}
